@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");

.three-worlds-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}
